<li class="comment-item">
  <div class="image">
    <%= link_to("#") do %>
      <%= gravatar_for comment.user %>
    <% end %>
  </div>
  <div class="comment-info">
    <h5><strong><%= comment.full_name %></strong></h5>
    <p><%= comment.content %></p>
    <div class="comment-date text-muted">
      <%= l comment.created_at %>
    </div>
    <% if can? :destroy, comment %>
      <%= link_to t("delete"), comment, method: :delete, remote: true,
        data: {confirm: t("sure_to_delete"), params: "movie_id=#{movie_id}"} %>
    <% end  %>
  </div>
</li>
