<div class="full-screen mt-20">
  <div class="container-fluid">
    <div class="row">
      <div class="ml-20">
        <%= render partial: "shared/movie_filter_form",
          locals: {form_path: search_movies_path} %>
      </div>
      <div class="col-md-9 movie-list">
        <h3 class="section-header" id="result-count">
          <%= t("search_result", count: @movies.total_entries,
            term: params[:q][:title_cont]) if params[:q].present? %>
          <%= t("result", count: @movies.total_entries,
            term: params[:q]) unless params[:q].present? %>
        </h3>
        <div class="row ml-0" id="movies">
          <%= render partial: "home/feature_movie",
            collection: @movies, as: :movie %>
        </div>
        <div id="movie-paging">
          <%= will_paginate @movies %>
        </div>
      </div>
      <div class="col-md-3 rightside">
        <h3 class="rightside-header"><%= t :suggest_movie %></h3>
        <div class="aside-movies">
          <%= render "layouts/suggest_form" %>
        </div>
      </div>
    </div>
  </div>
</div>
