<div class="full-screen mt-20">
  <div class="container-fluid">
    <div class="row">
      <%= form_tag search_movies_path, method: :get, enforce_utf8: false,
        class: "navbar-form navbar-left", remote: true do %>
        <div class="input-group ml-30 mt-20">
          <span class="input-group-btn">
            <%= select_tag(:level, options_for_select(@levels),
              include_blank: t("filter.level"),
              class: "btn btn-default btn-sort") %>
            <%= select_tag(:sort_by,
              options_for_select(@sort_by),
              include_blank: t("filter.newest"),
              class: "btn btn-default btn-sort") %>
            <%= select_tag(:category,
              options_for_select(@categories),
              include_blank: t("filter.category"),
              class: "btn btn-default btn-sort") %>
            <%= select_tag(:genre, options_for_select(@genres),
              include_blank: t("filter.genre"),
              class: "btn btn-default btn-sort") %>
          </span>
          <div class="ml-20">
            <%= submit_tag t("filter.name"), name: nil,
              class: "btn btn-default flat" %>
            <%= link_to t("filter_reset"), search_movies_path,
              class: "btn btn-danger flat" %>
          </div>
          <%= hidden_field_tag :term, params[:term] %>
        </div>
      <% end %>
      <div class="col-md-9 movie-list">
        <h3 class="section-header" id="result-count">
          <%= t("search_result", count: @movies.total_entries,
            term: params[:term]) if params[:term].present? %>
          <%= t("result", count: @movies.total_entries,
            term: params[:term]) unless params[:term].present? %>
        </h3>
        <div class="row ml-15" id="movies">
          <%= render partial: "home/feature_movie",
            collection: @movies, as: :movie,
            locals: {collection: @movies} %>
        </div>
      </div>
      <div class="col-md-3 rightside">
        <h3 class="rightside-header"><%= t :suggest_movie %></h3>
        <div class="aside-movies">
          <%= render "layouts/suggest_form" %>
        </div>
      </div>
    </div>
  </div>
</div>
