<div class="full-screen mt-20">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="play-box">
            <%= link_to(watch_movie_path(episode: @episode_id),
              class: "video_url") do %>
              <%= image_tag @movie.image, class: "img-responsive" %>
            <% end %>
            <div class="overlay glyphicon glyphicon-play"></div>
          </div>
          <div class="user-overview">
            <%= link_to(t("follow"), "#",
              class: "btn btn-info btn-block flat") %>
            <%= link_to(t("add_favorite"), "#",
              class: "btn btn-info btn-block flat") %>
          </div>
          <h3 class="rightside-header"><%= t :suggest_movie %></h3>
          <div class="aside-movies ml-30">
            <%= render "layouts/suggest_form" %>
          </div>
        </div>
        <div class="col-md-6 movie-detail">
          <div class="heading">
            <h4><%= @movie.title_en %></h4>
            <p><%= @movie.title_vi %></p>
            <hr>
            <h4><%= t("episodes") %></h4>
            <div class="episode-list">
              <%= render partial: "episode", collection: @movie.episodes %>
            </div>
            <hr>
            <h4><%= t("description") %></h4>
            <div class="movie-script">
              <%= @movie.description %>
            </div>
          </div>
          <% if logged_in? %>
            <%= render partial: "comments/comment_form",
              locals: {comments: @comments, movie_id: @movie.id} %>
          <% end %>
        </div>
        <div class="col-md-3 rightside">
          <h3 class="rightside-header"><%= t :recommended_movies %></h3>
          <div class="aside-movies">
            <ul class="movies">
              <%= render "home/movie" %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
