<div class="full-screen mt-20">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 movie-detail mt-20 ml-30">
          <div class="heading">
            <div class="watch-box">
              <%= render "layouts/flash" %>
              <iframe src="<%= params[:url] %>" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media;
                  gyroscope; picture-in-picture" allowfullscreen>
              </iframe>
            </div>
            <h4><%= link_to @movie.title_en, movie_path(@movie.id) %></h4>
            <p><%= @movie.title_vi %></p>
            <hr>
            <h4><%= t("episodes") %></h4>
            <div class="episode-list">
              <% @movie.episodes.each do |episode| %>
                <%= link_to(episode.name,
                  watch_movie_path(id: @movie.id, url: episode.video_url),
                  class: "btn flat btn-#{episode.video_url == params[:url] ? 'info' : 'default' }") %>
              <% end %>
            </div>
            <hr>
            <h4><%= t("description") %></h4>
            <div class="movie-script">
              <%= @movie.description %>
            </div>
          </div>
          <div class="comment-box">
            <hr>
            <h4><%= t :comment, count: 12 %></h4>
            <hr>
            <%= form_for(:comment) do |f| %>
              <div class="form-group">
                <%= f.text_area :content, class: "form-control flat" %>
              </div>
              <%= f.submit t(:send), class: "btn btn-primary flat" %>
            <% end %>
            <ul class="comment-list">
              <li class="comment-item">
                <div class="image">
                  <%= link_to("#") do %>
                    <%= image_tag "/uploads/mv-1.jpg" %>
                  <% end %>
                </div>
                <div class="comment-info">
                  <div class="comment-date text-muted">12/12/2018</div>
                  <h5><strong>Tham Davies</strong></h5>
                  <p><%= t("feature.content") %></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 rightside ml-0">
          <h3 class="rightside-header"><%= t :subtitles %></h3>
          <div class="aside-movies">
            <ul class="subtitles">
              <%= render "movies/subtitle" %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
