<div class="full-screen mt-20">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 movie-detail mt-20 pl-30">
          <div class="heading">
            <div class="watch-box">
              <%= render "shared/flash" %>
              <iframe id="player"
                src="<%= @episode.video_url %>?enablejsapi=1&html5=1"
                frameborder="0" allowfullscreen
                allow="accelerometer; autoplay; encrypted-media;
                  gyroscope; picture-in-picture">
              </iframe>
            </div>
            <h4>
              <%= link_to @movie.title_en, movie_path(@movie.id),
                "data-turbolinks": false %>
            </h4>
            <p><%= @movie.title_vi %></p>
            <hr>
            <h4><%= t("episodes") %></h4>
            <div class="episode-list">
              <%= render partial: "episode", collection: @movie.episodes %>
            </div>
            <hr>
            <h4><%= t("description") %></h4>
            <div class="movie-script">
              <%= @movie.description %>
            </div>
          </div>
          <%= render partial: "comments/comment_form",
            locals: {comments: @movie.comments} %>
        </div>
        <div class="col-md-4 rightside ml-0">
          <%= render partial: "movie_interact",
            locals: {movie: @movie, subtitles: @subtitles} %>
        </div>
      </div>
    </div>
  </div>
