<div class="full-screen mt-20">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="panel-profile ml-30">
          <div class="profile-image">
            <%= gravatar_for @user,
              {size: Settings.gravatar.size.user_profile} %>
          </div>
          <div class="user-info">
            <p><strong><%= t(".full_name") %>: </strong><%= @user.full_name %></p>
            <p><strong><%= t(".email") %>: </strong><%= @user.email %></p>
            <p><strong><%= t(".dob") %>: </strong><%= l @user.date_of_birth %></p>
            <p><strong><%= t(".gender") %>: </strong> <%= t "#{@user.gender}" %></p>
          </div>
          <%= link_to t("edit"), edit_user_registration_path,
            class: "btn btn-info btn-block edit-link" %>
        </div>
      </div>
      <div class="col-md-9">
        <ul class="nav nav-tabs ml-30">
          <li class="active">
            <a data-toggle="tab" href="#following_movies">
              <%= t :following_movies %>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#favorite">
              <%= t :favorited_movies %>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#notifications">
              <%= t :your_notifications %>
            </a>
          </li>
        </ul>

        <div class="tab-content ml-30">
          <div id="following_movies" class="tab-pane fade in active">
            <ul class="list-group">
              <%= render partial: "following_movies",
                collection: @user.followed_movies, as: :movie %>
              <%= raw render_no_result @user.followed_movies,
                "not_have.following_movies" %>
            </ul>
          </div>
          <div id="favorite" class="tab-pane fade">
            <ul class="list-group">
              <%= render partial: "favorited_movies",
                collection: @user.favoriting, as: :movie %>
              <%= raw render_no_result @user.favoriting,
                "not_have.favorited_movies" %>
            </ul>
          </div>
          <div id="notifications" class="tab-pane fade">
            <ul class="list-group mt-20">
              <%= render partial: "notification",
                collection: @user.notifications %>
              <%= raw render_no_result @user.notifications,
                "not_have.notifications" %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
