<h3 class="section-header"><%= t "feature.title" %></h3>
<% (1..8).each do |thing| %>
  <div class="col-md-3 movie-item">
    <%= image_tag "/uploads/mv-1.jpg" %>
    <%= link_to(movies_detail_path(id: 1), class: "movie-title") do %>
      <%= t "movie.title.en" %>
    <% end %>
    <p class="movie-title">
      <%= t "movie.title.vi" %>
    </p>
    <div class="extra-info">
      <p class="liked">
        <i class="glyphicon glyphicon-heart"></i>
        <%= t :favorite %>
      </p>
      <p class="float-right">
        <i class="glyphicon glyphicon-user"></i>
      </p>
    </div>
  </div>
<% end %>
