<div class="col-md-3">
  <div class="movie-item">
    <%= image_tag movie.image_url, class: "img-responsive" %>
    <%= link_to(movie_path(id: movie.id), class: "movie-title") do %>
      <%= summary movie.title_en, Settings.summary.title_en %>
    <% end %>
    <p class="movie-title">
      <%= summary movie.title_vi, Settings.summary.title_vi %>
    </p>
    <div class="extra-info">
      <p class="liked">
        <i class="glyphicon glyphicon-heart"></i>
        <%= t :favorite %>
      </p>
      <p class="float-right">
        <i class="glyphicon glyphicon-eye-open"></i>
        <%= movie.views %>
      </p>
    </div>
  </div>
</div>
