<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <!-- form search -->
          <%= search_form_for @search, url: admin_movies_path, method: :get,
            enforce_utf8: false, class: "form-inline" do |f| %>
            <h1>
              <%= t("admin.views.movies.page_heading") %>
              <%= f.text_field :title_cont, class: "form-control",
                value: (params[:q][:title_cont] if params[:q]),
                data: {behavior: :autocomplete, source: "/movies/json"} %>
              <%= f.submit t("admin.submit.movie.search"), name: nil,
                class: "btn btn-default" %>
              <%= link_to t("new_movie"), new_admin_movie_path,
                class: "btn btn-success" %>
            </h1>
          <% end %>
        </div>
        <!-- form filter -->
        <div class="well well-sm">
          <%= render partial: "shared/movie_filter_form",
            locals: {form_path: admin_movies_path} %>
        </div>
        <div><%= render "shared/flash" %></div>
        <!-- table movies -->
        <% if @movies.blank? %>
          <div class="alert alert-danger">
            <%= t("admin.views.movies.not_found") %>
          </div>
        <% else %>
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>
                    <%= sort_link @search, :title_en,
                      t("admin.views.movies.title"), {remote: true} %>
                  </th>
                  <th><%= t("admin.views.movies.cate") %></th>
                  <th><%= t("admin.views.movies.genres") %></th>
                  <th><%= t("admin.views.movies.episodes") %></th>
                  <th>
                    <%= sort_link @search, :views,
                      t("admin.views.movies.views"), {remote: true} %>
                  </th>
                  <th>
                    <%= sort_link @search, :rating,
                      t("admin.views.movies.rating"), {remote: true} %>
                  </th>
                  <th><%= t("action") %></th>
                </tr>
              </thead>
              <tbody id="movies">
                <%= render @movies %>
              </tbody>
            </table>
            <div id="movies-paging" align="center">
              <%= will_paginate @movies %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
