<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th><%= t("admin.views.static_pages.movies.thead.top") %></th>
        <th><%= t("admin.views.static_pages.movies.thead.categories") %></th>
        <th><%= t("admin.views.static_pages.movies.thead.genres") %></th>
        <th><%= t("admin.views.static_pages.movies.thead.name") %></th>
        <th><%= t("admin.views.static_pages.movies.thead.views") %></th>
        <th><%= t("admin.views.static_pages.movies.thead.rating") %></th>
      </tr>
    </thead>
    <% (1..10).each do |i| %>
      <tbody>
        <tr>
          <!-- content table -->
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
