<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th><%= t("admin.views.static_pages.users.thead.top") %></th>
        <th><%= t("admin.views.static_pages.users.thead.name") %></th>
        <th><%= t("admin.views.static_pages.users.thead.email") %></th>
        <th><%= t("admin.views.static_pages.users.thead.gender") %></th>
        <th><%= t("admin.views.static_pages.users.thead.phone") %></th>
        <th><%= t("admin.views.static_pages.users.thead.comments") %></th>
        <th><%= t("admin.views.static_pages.users.thead.suggests") %></th>
      </tr>
    </thead>
    <% (1..10).each do |i| %>
      <tbody>
        <tr>
          <!-- content table -->
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
