<p><%= t(:hello_someone, name: @resource.email) %></p>

<p><%= t(".content") %></p>

<p><%= link_to t(".change_password"),
  edit_password_url(reset_password_token: @token) %></p>

<p><%= t(".ignore") %></p>
<p><%= t(".after_ignore") %></p>
