<tr>
  <td><%= user.full_name %></td>
  <td><%= t "#{user.gender}" %></td>
  <td><%= user.email %></td>
  <td><%= l user.date_of_birth %></td>
  <td><%= t "#{user.role}" %></td>
  <td><%= l user.activated_at %></td>
  <td><%= %></td>
</tr>
