<nav class="navbar navbar-default normal-me mb-0">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
          <span class="sr-only"><%= t :toggle_navigation %></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to(root_path, class: "navbar-brand") do %>
          <i class="glyphicon glyphicon-film"> </i> <%= t(:app_name) %>
        <% end %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <%= link_to(root_path) do %>
              <i class="glyphicon glyphicon-home"> </i>
              <%= t :home %> <span class="sr-only">(current)</span></a></li>
            <% end %>
          </li>
          <li>
          <%= link_to("#") do %>
            <i class="glyphicon glyphicon-star-empty"> </i> <%= t(:tips) %>
          <% end %>
          </li>
        </ul>
        <%= form_tag search_movies_path, method: :get, enforce_utf8: false,
          class: "navbar-form navbar-left" do %>
          <div class="input-group">
            <%= text_field_tag :term, params[:term], class: "form-control",
              placeholder: t("search.placeholder") %>
            <div class="input-group-btn">
              <button tabindex="-1" data-toggle="dropdown"
                class="btn btn-default flat dropdown-toggle" type="button">
                <span class="caret"></span>
                <span class="sr-only"><%= t :toggle_navigation %></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to t("search.basic"), "#" %></li>
                <li><%= link_to t("search.advance"), search_movies_path %></li>
              </ul>
              <%= submit_tag t("search.name"), name: nil,
                class: "btn btn-default" do %>
                <i class="glyphicon glyphicon-search"></i>
              <% end %>
            </div>
          </div>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to(t("language"), "#") %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">
              <i class="glyphicon glyphicon-user"></i>
              Tham Davies <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to t("profile"), "#" %></li>
              <li><%= link_to t("logout"), "#" %></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
