<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>

  <body data-locale="<%= I18n.locale %>">
    <div class="devise-alert">
      <% if notice %>
        <div class="alert alert-success alert-dismissible auto-remove-alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">
            &times;
          </a>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible auto-remove-alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">
            &times;
          </a>
          <%= alert %>
        </div>
      <% end %>
    </div>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
